{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions", "safari >= 7"]
      },
      "debug": true
    }]
  ],
  "plugins": [
    ["@babel/polyfill/browser.js"]
  ]
}