root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{html,js,json,less}]
indent_style = space
charset = utf-8

[*.js]
indent_size = 4

[*.{json,less}]
indent_size = 2
