/*
  Icon Font: sst_icons
*/

@font-face {
  font-family: "sst_icons";
  src: url("fonts/sst_icons.eot");
  src: url("fonts/sst_icons.eot?#iefix") format("embedded-opentype"),
       url("fonts/sst_icons.woff") format("woff"),
       url("fonts/sst_icons.ttf") format("truetype"),
       url("fonts/sst_icons.svg#sst_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "sst_icons";
    src: url("fonts/sst_icons.svg#sst_icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-buffer:before,
.icon-digg:before,
.icon-linkedin:before,
.icon-reddit:before,
.icon-stumbleupon:before,
.icon-tumblr:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "sst_icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-buffer:before { content: "\f100"; }
.icon-digg:before { content: "\f101"; }
.icon-linkedin:before { content: "\f102"; }
.icon-reddit:before { content: "\f106"; }
.icon-stumbleupon:before { content: "\f104"; }
.icon-tumblr:before { content: "\f107"; }
.icon-twitter:before { content: "\f105"; }
